html {
	font-size: 62.5%;
}

:root {
	--main-font-color: rgb(1, 1, 41);
	--main-font-family: "Montserrat Alternates", Arial, sans-serif;
	--main-button-color: rgb(193, 129, 243);
	--white: rgba(255, 255, 255, 0.896);
	--stats-color: #bbd0ff;
	--body-color: rgb(120, 181, 234);
	--shadow-color: rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--main-font-family);
	font-size: 1.6rem;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: var(--body-color);
}

.root {
	width: 100%;
	max-width: 400px;
	height: 100%;
	max-height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 60px 0;
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 4px 4px 40px var(--shadow-color);
}

.title {
	max-width: 100%;
	font-size: 2.5rem;
	color: var(--main-font-color);
}

.modal-container {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	transform: center;
}

.modal-container.hidden {
	visibility: hidden;
	opacity: 0;
	transform: scale(0);
}

.modal-container.visible {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.modal {
	width: 100%;
	max-width: 350px;
	height: 100%;
	max-height: 250px;
	background-color: var(--white);
	border-radius: 10px;
}

/* ---- initial view styles ----- start ---- */

.initial-view {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 40px;
}

.main-image {
	width: 250px;
	margin: 30px 0 40px;
}

/* .startGame-button styles are at the end of this file */

/* ---- initial view styles ----- end ---- */

/* ---- game view styles ----- start ---- */

.gameView {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 35px 40px 0;
}

.stats {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.player,
.dealer {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px 10px;
	background-color: var(--stats-color);
	border-radius: 5px;
}

.player-title {
	font-size: 1.8rem;
}

.card {
	display: block;
	width: 100%;
	margin: 2px 0;
	text-align: center;
	font-size: 1.4rem;
}

.player-score,
.dealer-score {
	width: 100%;
	display: block;
	text-align: center;
	padding: 5px 0 0;
	border-top: 1px solid var(--shadow-color);
	font-weight: bold;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
}

.startGame-button,
.hit-button,
.stand-button,
.goBackToStart-button {
	width: 100%;
	padding: 15px 10px;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 2rem;
	background-color: var(--main-button-color);
	border-radius: 5px;
	transition: transform 0.15s;
}

.hit-button {
	background-color: #ffc300;
}

@media (hover: hover) {
	[class$="-button"]:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
}

/* ---- game view styles ----- end ---- */
